.background-containerblog {
  background-image: url('../images/ReserveBack.svg');
  height: 60vh; /* Адаптивная высота: 60% от высоты экрана */
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: center; /* Центрируем фон */
  background-repeat: no-repeat;
  opacity: 0.75;
  z-index: -1;
}

.container {
  position: relative;
  width: 100%;
  padding: 2vh 5vw; /* Адаптивные внутренние отступы */
  z-index: 1;
}

